@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --admin-body-bg:#0f1535;
  --admin-body-bg-2: #0f1535;
  --admin-text-gray: #a7acb1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-noto: var(--font-noto-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
}
