@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --admin-body-bg: #0f1535;
  --admin-body-bg-2: #0f1535;
  --admin-gray: #a7acb1;
  --admin-text-white: #fff;
  --admin-bgimg: linear-gradient(
    127.09deg,
    rgba(6, 11, 40, 0.94) 19.41%,
    rgba(10, 14, 35, 0.49) 76.65%
  );
  --white-10: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 10%, transparent);
  --white-20: color-mix(in oklab, var(--color-white) /* #fff = #ffffff */ 20%, transparent);
  --admin-card-bg: var(--admin-body-bg);
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.375rem;
  --border-radius-lg: 0.5rem;
  --border-radius-2xl: 1rem;
  --border-color: #d3d7dc;
  --border-focus-color: #86b7fe;
  --card-spacer-x: 1rem;
  --card-spacer-y: 1rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-noto: var(--font-noto-sans);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-sans), Arial, Helvetica, sans-serif;
}
